# Session 1 ‚Äî Data Structures and Core Types

In this session we will:

- Revisit how **variables** and **objects** work in Python.
- Understand **references**, **mutability**, and a very simple view of **garbage collection**.
- Explore core built-in types:
  - Numbers (`int`, `float`, `complex`)
  - Booleans (`bool`)
  - Strings (`str`)
  - Lists (`list`)
  - Tuples (`tuple`)
  - Dictionaries (`dict`)
  - Sets (`set`)
- See how assignment and copying behave with mutable objects.

> This notebook is designed for about **80 minutes** of work, including discussion and exercises.

---
## 1. Everything Is an Object

In Python, **everything you manipulate is an object** stored in memory.

Each object has:

- a **type** (what kind of thing it is),
- a **value** (its data content),
- an **identity** (its unique memory address).

Python automatically manages objects' lifecycle (creation and deletion).

In [1]:
x = 10
y = "Hello"
z = [1, 2, 3]

print("x:", x, "type:", type(x))
print("y:", y, "type:", type(y))
print("z:", z, "type:", type(z))

x: 10 type: <class 'int'>
y: Hello type: <class 'str'>
z: [1, 2, 3] type: <class 'list'>

You can also inspect the **identity** of an object with `id()`:

> In CPython, `id(obj)` usually corresponds to the memory address where the object lives.

In [2]:
x = 10
y = 10

print("x id:", id(x))
print("y id:", id(y))
print("x == y:", x == y)
print("x is y:", x is y)

x id: 4389740992
y id: 4389740992
x == y: True
x is y: True

### Quick check

- `==` compares **values**.
- `is` compares **identity** (same object?).

We will come back to this when we talk about mutability.

---
## 2. Variables Are Names, Not Boxes

A **variable** is a **name that refers to an object in memory**.

When you write:

```python
a = 3
```

Python:

1. Creates an integer object with value `3` (if it does not exist already).
2. Makes the name `a` refer to that object.

Later, you can reassign the same name to a different object.

In [3]:
a = 3
print("Step 1:", a, type(a))

a = "hello"
print("Step 2:", a, type(a))

Step 1: 3 <class 'int'>
Step 2: hello <class 'str'>

‚û°Ô∏è Names don't have types; **objects** do.

You can think of the current Python environment as a table:

| Name | Object | Type  |
|------|--------|-------|
| `a`  | `3`    | `int` |
| `b`  | `'hi'` | `str` |

and so on.

#### Mini exercise 1 (names and types)

Without running the code, try to **predict** the type and value of `x` after each line.

Then run the cell and check.

In [4]:
x = 1
x = x + 2
x = "Result: " + str(x)

print(x)
print("Type of x:", type(x))

Result: 3
Type of x: <class 'str'>

---
## 3. Shared References and Dynamic Typing

Two names can refer to the **same object**. This is common with mutable types like lists.

In [7]:
a = [1, 2, 3]
b = a   # b refers to the *same* list as a

print("a:", a)
print("b:", b)
print("a is b:", a is b)  # same identity?

a: [1, 2, 3]
b: [1, 2, 3]
a is b: True

In [8]:
# Modify via b
b.append(4)

print("After b.append(4):")
print("a:", a)
print("b:", b)

After b.append(4):
a: [1, 2, 3, 4]
b: [1, 2, 3, 4]

Because `a` and `b` refer to the **same list object**, a change via one name is visible via the other.

This is crucial for understanding bugs with mutable objects.

### Dynamic typing

Python uses **dynamic typing**:

- Names can be rebound to any object at any time.
- Types live with objects, *not* with variable names.

In [ ]:
x = 10        # x refers to an int
print(x, type(x))

x = 3.14       # now x refers to a float
print(x, type(x))

x = "ten"      # now x refers to a string
print(x, type(x))

---
## 4. Mutability and a Simple View of Garbage Collection

Some objects are **mutable** (can change their contents):
- `list`, `dict`, `set`

Some are **immutable** (cannot change; operations create new objects):
- `int`, `float`, `str`, `tuple`, `bool`

In [ ]:
# Mutable example: list
nums = [1, 2, 3]
print("Original:", nums, "id:", id(nums))

nums.append(4)
print("After append:", nums, "id:", id(nums))  # same identity: changed in place

In [ ]:
# Immutable example: string
s = "hello"
print("Original:", s, "id:", id(s))

s = s.upper()
print("After s.upper():", s, "id:", id(s))  # new object created

üîë **Key idea:**

- Mutable objects can be updated **in place**.
- Immutable objects never change; you get a **new object** instead.

### Garbage collection (very simplified)

Python keeps track of how many references point to each object.

When an object has **no references** anymore, it can be deleted automatically.

In [ ]:
a = [1, 2, 3]
b = a

print("id(a):", id(a))
print("id(b):", id(b))

del a  # remove one reference

# b still works:
print("b is still:", b)

---
## 5. Numbers

Python has several numeric types:

- `int` ‚Äì integers
- `float` ‚Äì real numbers with decimals
- `complex` ‚Äì complex numbers (`3+4j`)

In [ ]:
a = 5          # int
b = 2.7        # float
c = 3 + 4j     # complex

print(a, type(a))
print(b, type(b))
print(c, type(c))

### Numeric literals and readability

- Integers: `42`, `-3`, `0`
- Floats: `3.14`, `-0.5`, `2e3` (2000.0)
- Underscores for readability: `1_000_000` (one million)

In [ ]:
population = 1_500_000
distance_km = 4.2e2   # 4.2 √ó 10^2 km

print("population:", population)
print("distance_km:", distance_km)

### Arithmetic operators

- `+` addition
- `-` subtraction
- `*` multiplication
- `/` division (float)
- `//` floor division
- `%` remainder
- `**` exponentiation

In [ ]:
print("5 / 2 =", 5 / 2)     # 2.5
print("5 // 2 =", 5 // 2)   # 2
print("5 % 2 =", 5 % 2)     # 1
print("2 ** 3 =", 2 ** 3)   # 8

### Floating-point precision

Floats are stored in binary ‚Üí some decimals cannot be represented exactly.

In [ ]:
print(0.1 + 0.2)

Small rounding errors like this are normal with floating-point arithmetic.

Use `round(x, n)` for display.

In [ ]:
x = 0.1 + 0.2
print("Raw:", x)
print("Rounded to 2 decimals:", round(x, 2))

### Formatting numbers with f-strings

You can control how numbers are shown using **f-strings**:

In [ ]:
x = 1234567.89123

print(f"{x:.2f}")   # 2 decimals
print(f"{x:,.0f}")  # thousands separator, no decimals
print(f"{x:e}")     # scientific notation

### Type conversion

- `int(x)` to convert to integer
- `float(x)` to convert to float
- `complex(x)` to convert to complex number

In [ ]:
print(int(3.8))    # 3
print(float(5))     # 5.0
print(complex(2))   # (2+0j)

### The `math` module

The `math` module provides common mathematical functions.

In [ ]:
import math

print("sqrt(9):", math.sqrt(9))
print("pi:", math.pi)
print("sin(30 degrees):", math.sin(math.radians(30)))

#### Mini exercise 2 (numbers, logistics)

1. A shipment weighs **1 250 kg** and costs **0.35 ‚Ç¨/kg** to move.
2. Compute the **total transport cost**.
3. Display the result:
   - with 2 decimals,
   - with a thousands separator, like `1,234.56`.

Try to write the code yourself below.

In [ ]:
# Your attempt here

kg = 1250
price_per_kg = 0.35

total_cost = kg * price_per_kg

print("Total cost (raw):", total_cost)
print(f"Total cost (2 decimals): {total_cost:.2f}")
print(f"Total cost (formatted): {total_cost:,.2f} ‚Ç¨")

---
## 6. Booleans and Truthiness

A **Boolean** represents one of two truth values: `True` or `False`.

They are used for logic and decisions.

In [ ]:
a = True
b = False

print(a, type(a))
print(b, type(b))

### Comparison operators

- `==`, `!=`
- `>`, `<`, `>=`, `<=`

In [ ]:
print(5 > 2)             # True
print(3 == 4)            # False
print(len("abc") != 3)   # False

### Logical operators

- `and` ‚Äì True if **both** conditions are True
- `or` ‚Äì True if **at least one** is True
- `not` ‚Äì reverses a condition

In [ ]:
print(True and False)
print(True or False)
print(not True)

### Truthiness of values

Values considered **False**:

- `False`, `None`, `0`, `0.0`
- empty containers: `''`, `[]`, `{}`, `set()`

Everything else is **True**.

In [ ]:
print(bool(0))
print(bool("hello"))
print(bool(""))
print(bool([]))
print(bool([1, 2, 3]))

#### Mini exercise 3 (booleans)

Suppose we have a small shipment:

- weight in kg,
- and a flag indicating whether paperwork is complete.

We only want to load it if **both** conditions are satisfied:

- weight > 0
- paperwork is complete

Complete the code below.

In [ ]:
weight_kg = 500
paperwork_complete = True

can_load = (weight_kg > 0) and paperwork_complete

print("Can load?", can_load)

---
## 7. Strings

A **string** (`str`) is a sequence of characters used to represent text.

In [ ]:
s = 'Hello'
t = "World"
u = '''Triple quotes
for multi-line text'''

print(s)
print(t)
print(u)

Special characters use backslash escapes:

- `\n` ‚Üí newline
- `\t` ‚Üí tab
- `\'` ‚Üí quote inside single-quoted string

In [ ]:
print("Line 1\nLine 2")
print('It\'s fine')

### Basic string operations

- `+` concatenation
- `*` repetition
- `len()` length
- `in` membership test

In [ ]:
print('Hello ' + 'World')
print('ha' * 3)
print(len('abc'))
print('log' in 'logistics')

### Indexing and slicing strings

Strings are ordered sequences, so you can index and slice them.

- Indexing starts at 0.
- Negative indexes count from the end.

In [ ]:
s = "logistics"

print(s[0])     # first character
print(s[-1])    # last character
print(s[0:3])   # 'log'
print(s[::-1])  # reversed

### Strings are immutable

You **cannot** modify a string in place. Any "change" creates a new string.

In [ ]:
s = "cat"
# s[0] = 'b'  # This would raise an error

s2 = 'b' + s[1:]
print("Original:", s)
print("Modified:", s2)

### Useful string methods

Some common methods:

- `s.lower()`, `s.upper()`, `s.title()`
- `s.strip()` removes whitespace at both ends
- `s.find(sub)` returns index or -1
- `s.replace(old, new)`
- `s.split(sep)` splits into list
- `sep.join(list)` joins list into string

In [ ]:
s = "  Hello World  "

print(s.strip().lower())
print("milk,cheese,cream".split(","))
print(" - ".join(["Zaragoza", "Madrid", "Barcelona"]))

### f-strings (formatted string literals)

f-strings let you embed expressions inside string literals using `{}`.

In [ ]:
name = "Alfonso"
age = 30

msg = f"My name is {name}, I am {age} years old."
print(msg)

pi = 3.14159265
print(f"pi to 3 decimals: {pi:.3f}")

#### Mini exercise 4 (strings)

Create a small message for a shipment:

- origin city,
- destination city,
- weight in kg (formatted with no decimals).

Use an f-string to produce a message like:

`Shipment from Zaragoza to Madrid, weight: 750 kg`.

In [ ]:
origin = "Zaragoza"
destination = "Madrid"
weight_kg = 750.4

message = f"Shipment from {origin} to {destination}, weight: {weight_kg:.0f} kg"
print(message)

---
## 8. Lists

A **list** is an ordered, mutable collection of objects.

In [ ]:
fruits = ["apple", "banana", "orange"]
numbers = [10, 20, 30]

print(fruits)
print(numbers)

### Accessing elements

Use indexes or slices (same idea as for strings).

In [ ]:
fruits = ["apple", "banana", "orange"]

print(fruits[0])      # 'apple'
print(fruits[-1])     # 'orange'
print(fruits[1:3])    # ['banana', 'orange']

Nested lists are possible:

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6]]
print(matrix[1][2])  # 6

### Lists are mutable

You can modify, add, or remove elements directly.

In [ ]:
nums = [10, 20, 30]
nums[1] = 99
nums.append(40)

print(nums)

Common list methods:

- `.append(x)` add at end
- `.insert(i, x)` insert at position
- `.extend(list)` concatenate
- `.remove(x)` remove first occurrence
- `.pop(i)` remove and return element
- `.sort()` sort in place
- `.reverse()` reverse in place

In [ ]:
nums = [3, 1, 2]
nums.sort()
print(nums)

List operators and built-ins:

- `+` concatenation
- `*` repetition
- `in` membership test
- `len()`, `sum()`, `max()`, `min()`

In [ ]:
print([1, 2] + [3])
print([0] * 4)
print(3 in [1, 2, 3])
print(len([1, 2, 3]), sum([1, 2, 3]))

### Shared references trap with lists

Using `*` with lists copies references, not nested lists.

In [ ]:
matrix = [[0]*3]*3
print(matrix)

matrix[0][0] = 1
print(matrix)  # all rows changed!

Correct way to build a 3x3 zero matrix:

In [ ]:
matrix = [[0 for j in range(3)] for i in range(3)]
matrix[0][0] = 1
print(matrix)

#### Mini exercise 5 (lists)

Create a list of three product names and a list of their unit costs.

Then:

1. Print the price of the second product.
2. Add a new product and cost at the end.
3. Compute the average unit cost.

In [ ]:
products = ["milk", "cheese", "yogurt"]
prices = [1.2, 2.5, 0.8]

print("Second product and price:", products[1], prices[1])

products.append("butter")
prices.append(3.1)

average_price = sum(prices) / len(prices)
print("Products:", products)
print("Average price:", average_price)

---
## 9. Tuples

A **tuple** is an ordered, immutable collection of objects.

In [ ]:
coords = (41.65, -0.88)
pair = ("ZLC", 2025)
single = (5,)   # note the comma

print(coords)
print(pair)
print(single)

Indexing and slicing work like for lists, but you cannot modify the contents.

In [ ]:
t = (10, 20, 30)
print(t[0])
print(t[1:])

Tuples are often used for **packing and unpacking**:

In [ ]:
point = (4, 5)
x, y = point
print("x:", x, "y:", y)

a, b = 1, 2
a, b = b, a
print("a:", a, "b:", b)

#### Mini exercise 6 (tuples)

Represent a warehouse as a tuple `(name, country, year_opened)`.

Then unpack it into three variables and print a nice sentence.

In [ ]:
warehouse = ("Zaragoza Logistics Center", "ES", 2003)

name, country, year = warehouse
print(f"{name} in {country} opened in {year}.")

---
## 10. Dictionaries

A **dictionary** (`dict`) stores data as key-value pairs.

In [ ]:
student = {"name": "Ana", "age": 25, "country": "ES"}

print(student)
print(student["name"])

You can add or update entries easily:

In [ ]:
student["age"] = 26      # update
student["city"] = "Zaragoza"  # new key

print(student)
print("Number of fields:", len(student))

Safe access with `.get()`:

In [ ]:
print(student.get("height", "N/A"))

Iterating over keys and values:

In [ ]:
for key, value in student.items():
    print(key, "->", value)

#### Mini exercise 7 (dictionaries)

Create a `product` dictionary with keys:

- `name`
- `price`
- `stock`

Then:

1. Print a short description using the dictionary.
2. Increase the stock by 10 units.

In [ ]:
product = {
    "name": "milk",
    "price": 1.25,
    "stock": 50
}

print(f"{product['name']} costs {product['price']} ‚Ç¨ and we have {product['stock']} units.")

product["stock"] += 10
print("Updated stock:", product["stock"])

---
## 11. Sets

A **set** is an unordered collection of **unique** elements.

In [ ]:
countries = {"ES", "PT", "FR", "ES"}
print(countries)  # ES appears once

print("ES in countries?", "ES" in countries)
print("DE in countries?", "DE" in countries)

### Set operations: union, intersection, difference

In [ ]:
A = {1, 2, 3}
B = {3, 4}

print("A | B:", A | B)
print("A & B:", A & B)
print("A - B:", A - B)

### Removing duplicates with sets

In [ ]:
numbers = [1, 2, 2, 3, 3, 3]
unique = set(numbers)
print("Unique values:", unique)
print("Back to list:", list(unique))

#### Mini exercise 8 (sets)

You have a list of customer IDs with duplicates. Use a set to find how many **unique** customers you have.

In [ ]:
customer_ids = [101, 102, 101, 103, 102, 104, 101]

unique_customers = set(customer_ids)
print("Unique customers:", unique_customers)
print("Number of unique customers:", len(unique_customers))

---
## 12. Session 1 Summary

In this session you have seen that:

- Everything in Python is an **object** with type, value, and identity.
- Variables are **names** that refer to objects (not boxes that contain values).
- Python uses **dynamic typing**: names can be rebound freely.
- Some objects are **mutable** (`list`, `dict`, `set`), others are **immutable** (`int`, `float`, `str`, `tuple`, `bool`).
- Assignment copies **references**, not contents.
- You have met the core built-in types:
  - numbers, booleans, strings, lists, tuples, dictionaries, sets.

In the next session we will use these types inside **control flow**:

- decisions with `if`,
- repetition with `for` and `while`.

Take a moment to reflect:

- Which part felt most surprising?
- Which type do you think you will use most in your daily work?